<tr>
  <td>
    <%= image_tag(line_item.product.image.tiny.url, alt: line_item.product.name) %>
  </td>
  <td colspan="2">
  <%= link_to line_item.product.name, product_path(line_item.product) %>
  <br>
    <%= truncate(line_item.product.description,length: 125) %>
  </td>
  <td>
   <%= line_item.quantity %>
   </td>
  <td>
    <%= number_to_currency(line_item.item_price_cents / 100.0, precision: 2)  %>
  </td>
  <td>  
    <%= number_to_currency(line_item.total_price_cents / 100.0, precision: 2) %>
  </td>
</tr>

